<%= form_with(model: @lead_driver, local: true) do |form| %>
  <% if @lead_driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lead_driver.errors.count, "error") %> prohibited this lead_driver from being saved:</h2>

      <ul>
      <% @lead_driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 

  <div class="mb-3">
  <%= form.label :first_name, class: "form-label" %>
  <%= form.text_field :first_name, id: :lead_driver_first_name, class: "form-control" %>
</div>

<div class="mb-3">
  <%= form.label :last_name, class: "form-label" %>
  <%= form.text_field :last_name, id: :lead_driver_last_name, class: "form-control" %>
</div>

 <div class="mb-3">
    <%= form.label :marital_status, class: "form-label" %>
    <%= form.select :marital_status,
                    ["Single", "Married", "Divorced", "Separated", "Widowed", "Domestic Partner", "Unknown"],
                    { prompt: "Select Marital Status" },
                    { class: "form-select" } %>
  </div
 
  <div class="actions ">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
