 




  <div class="login-container">
      <div class="login-logo">
        <a href="#" class=""><%= image_tag "sf-logo.png" %></a>
      </div>
      <div class="login-wrapper">
       
        <%= form_with url: login_path, method: :post, novalidate: true do |f| %>
        
          <h2 class="text-center">Login!</h2>
          <div class="input-box">
              <%= f.text_field :email, placeholder: "Enter Email Address...", required: true %>
             
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="input-box">
            <%= f.password_field :password, placeholder: "Password", required: true %>      
            <i class="fa-solid fa-lock"></i>
          </div>
          <%= f.submit "Login", class: "btn" %>
             <% end %>
          <div class="register-link">
            <p>Don't have account? <%= link_to "Create an Account!", new_user_path %> </p>
            <p id="notice" style="text-align: center; color: red"><%= flash[:notice] %></p>
             <p id="alert"style="text-align: center; color: red"><%= flash[:alert] %></p>
          </div>
        </form>
      </div>
    </div>
